<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow" >
  <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">Twój Gabinet</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
          data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
    </li>
  </ul>
</nav>
<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" >
      <div class="sidebar-sticky pt-0" >
        <div class="list-group">
          <button routerLink="manage/reservations" type="button" class="list-group-item list-group-item-action">Rezerwacje
          </button>
          <button routerLink="manage/office" type="button" class="list-group-item list-group-item-action">Gabinet</button>
          <button routerLink="manage/account" type="button" class="list-group-item list-group-item-action">Konto</button>
          <button routerLink="/offices" type="button" class="list-group-item list-group-item-action">Strona główna</button>
          <button (click)="logout()"  type="button" class="list-group-item list-group-item-action">Wyloguj się</button>
        </div>
      </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>

    </main>
  </div>
</div>

